<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>Egida | Dudak TMS</title>
    <!--
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/favicons/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/images/favicons/apple-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/favicons/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/images/favicons/apple-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/favicons/apple-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/images/favicons/apple-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/favicons/apple-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/images/favicons/apple-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/favicons/apple-icon-180x180.png}">
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/images/favicons/android-icon-192x192.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/images/favicons/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicons/favicon-16x16.png}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}" href="/static/lib/bootstrap/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link th:href="@{/lib/animate.css/animate.css}" href="/static/lib/animate.css/animate.css" rel="stylesheet">
    <link th:href="@{/lib/components-font-awesome/css/font-awesome.min.css}"
          href="/static/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="@{/lib/et-line-font/et-line-font.css}" href="/static/lib/et-line-font/et-line-font.css"
          rel="stylesheet">
    <link th:href="@{/lib/flexslider/flexslider.css}" href="/static/lib/flexslider/flexslider.css" rel="stylesheet">
    <link th:href="@{/lib/owl.carousel/dist/assets/owl.carousel.min.css}"
          href="/static/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link th:href="@{/lib/owl.carousel/dist/assets/owl.theme.default.min.css}"
          href="/static/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link th:href="@{/lib/magnific-popup/dist/magnific-popup.css}"
          href="/static/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link th:href="@{/lib/simple-text-rotator/simpletextrotator.css}"
          href="/static/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link th:href="@{/css/style.css?version=51}" href="/static/css/style.css" rel="stylesheet">
    <link id="color-scheme" th:href="@{/css/colors/default.css}" href="/static/css/colors/default.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
    <!--    <div class="page-loader">-->
    <!--        <div class="loader">Loading...</div>-->
    <!--    </div>-->
    <nav class="navbar navbar-custom navbar-transparent navbar-fixed-top one-page" role="navigation"
         style="background: #0b0b0b">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="index.html">EGIDA DUDAK</a>
            </div>
            <div class="collapse navbar-collapse" id="custom-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/user/home}">Home</a></li>
                    <li><a class="section-scroll" th:href="@{/user/allpets}">Pets</a></li>

                    <li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()"
                                            th:href="@{/profile}">MyE</a></li>

                    <li class="nav-item"><a class="nav-link" sec:authorize="isAnonymous()"
                                            th:href="@{/new/login}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" sec:authorize="isAnonymous()"
                                            th:href="@{/user/registrationPage}">Sing Up</a></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link"
                                                                              th:href="@{/logout}">Logout</a>
                    </li>

                    <li><a class="section-scroll" th:href="@{/forum/showForum}">News</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="features-item">
        <div class="features-icon"><span class="icon-lightbulb"></span></div>
        <h3 class="features-title font-alt">All pets</h3>
        <a><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin/addPage}">Add new Pet</a></a>
        <div>
            <a th:href="@{/user/allpets}">All</a>
            <a th:href="@{/user/showing/{type}(type=0)}">Dogs</a>
            <a th:href="@{/user/showing/{type}(type=1)}">Cats</a>
        </div>
        <div style="display: grid; grid-template-columns: repeat(3,1fr); grid-template-rows: repeat(3,500px); margin: 30px 30px">
            <div th:each="pet : ${listOfPets}" class="all-pets-list" style="padding-bottom: 150px;">
                <th:block th:if="${pet.animal_status.name != 'TAKEN'}">
                    <div>
                        <img width="256" height="256" th:src="${pet.imgURL}" alt="photo conformation"
                             style="object-fit: cover; width: 256px; height: 240px;"/>
                        <h2 th:text="${pet.animalName}">Name: </h2>
                        <p th:text="${pet.age}">Age: </p>

                        <span th:text="${pet.animal_type}">type</span>

                        <span th:text="${pet.sex}">sex</span>
                        <br>
                        <a th:href="@{/user/moreInfoAboutPet/{pet_id}(pet_id=${pet.animalId})}">More info</a>
                        <div th:unless="${pet.animal_status.name == 'UNAFFORDABLE'}">
                            <a sec:authorize="isAuthenticated()"
                               th:href="@{/egida/takePet/{pet_id}(pet_id=${pet.animalId})}">Take</a>
                        </div>
                        <br>
                        <a sec:authorize="hasAuthority('ADMIN')"
                           th:href="@{/admin/hide/{id}(id=${pet.animalId})}">hide</a>
                        <a sec:authorize="hasAuthority('ADMIN')"
                           th:href="@{admin/deleteAnimal/{id}(id=${pet.animalId})}">mark as taken</a>
                        <br>
                    </div>
                </th:block>
            </div>
        </div>
        <p style="padding-top: 50px">Careful attention to detail and clean, well structured code ensures a smooth user
            experience for all your visitors.</p>
    </div>
</main>
<script type="text/javascript" th:src="@{/styles/lib/jquery/dist/jquery.js}"
        src="/static/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/bootstrap/dist/js/bootstrap.min.js}"
        src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/wow/dist/wow.js}" src="/static/lib/wow/dist/wow.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js}"
        src="/static/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/isotope/dist/isotope.pkgd.js}"
        src="/static/lib/isotope/dist/isotope.pkgd.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/imagesloaded/imagesloaded.pkgd.js}"
        src="/static/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/flexslider/jquery.flexslider.js}"
        src="/static/lib/flexslider/jquery.flexslider.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/owl.carousel/dist/owl.carousel.min.js}"
        src="/static/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/smoothscroll.js}" src="/static/lib/smoothscroll.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/magnific-popup/dist/jquery.magnific-popup.js}"
        src="/static/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/simple-text-rotator/jquery.simple-text-rotator.min.js}"
        src="/static/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script async="" defer=""
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK2Axt8xiFYMBMDwwG1XzBQvEbYpzCvFU"></script>
<script type="text/javascript" th:src="@{/styles/js/plugins.js}" src="/static/js/plugins.js"></script>
<script type="text/javascript" th:src="@{/styles/js/main.js}" src="/static/js/main.js"></script>
</body>
</html>
