<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row multi-columns-row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
            <div class="features-icon"><span class="icon-lightbulb"></span></div>
            <h3 class="features-title font-alt">Ideas and concepts</h3>

            <tr th:each="pet : ${listOfPets}">

                <td>
                    <span th:text="${pet.animalName}">Name</span>
                </td>
                <td><span th:text="${pet.age}">Age</span>
                </td>
                <td><span th:text="${pet.animalType}">Age</span>
                </td>
                <td><span th:text="${pet.sex}">Age</span>
                </td>
                <a th:href="@{/admin/hide/{id}(id=${pet.animalId})}">hide</a>
                <a th:href="@{admin/deleteAnimal/{id}(id=${pet.animalId})}">mark as taken</a>
                <br>
            </tr>
            <p>Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.</p>
        </div>
    </div>
</div>
</body>
</html>
