<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>Egida | Dudak TMS</title>
    <!--
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/favicons/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/images/favicons/apple-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/favicons/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/images/favicons/apple-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/favicons/apple-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/images/favicons/apple-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/favicons/apple-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/images/favicons/apple-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/favicons/apple-icon-180x180.png}">
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/images/favicons/android-icon-192x192.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/images/favicons/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicons/favicon-16x16.png}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}" href="/static/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link th:href="@{/lib/animate.css/animate.css}" href="/static/lib/animate.css/animate.css" rel="stylesheet">
    <link th:href="@{/lib/components-font-awesome/css/font-awesome.min.css}" href="/static/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="@{/lib/et-line-font/et-line-font.css}" href="/static/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link th:href="@{/lib/flexslider/flexslider.css}" href="/static/lib/flexslider/flexslider.css" rel="stylesheet">
    <link th:href="@{/lib/owl.carousel/dist/assets/owl.carousel.min.css}" href="/static/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link th:href="@{/lib/owl.carousel/dist/assets/owl.theme.default.min.css}" href="/static/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link th:href="@{/lib/magnific-popup/dist/magnific-popup.css}" href="/static/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link th:href="@{/lib/simple-text-rotator/simpletextrotator.css}" href="/static/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link th:href="@{/css/style.css?version=51}" href="/static/css/style.css" rel="stylesheet">
    <link id="color-scheme" th:href="@{/css/colors/default.css}"  href="/static/css/colors/default.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
<!--    <div class="page-loader">-->
<!--        <div class="loader">Loading...</div>-->
<!--    </div>-->
    <nav class="navbar navbar-custom navbar-transparent navbar-fixed-top one-page" role="navigation" style="background: #0b0b0b">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html">EGIDA DUDAK</a>
            </div>
            <div class="collapse navbar-collapse" id="custom-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#totop">Home</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" th:href="@{/product/showProduct/{type}(type=9)}" data-toggle="dropdown">Shop</a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/product/showProduct/{type}(type=0)}">Dog food</a></li>
                            <li><a th:href="@{/product/showProduct/{type}(type=1)}">Cat food</a></li>
                            <li><a th:href="@{/product/showProduct/{type}(type=2)}">Bird food</a></li>
                            <li><a th:href="@{/product/showProduct/{type}(type=3)}">Other food</a></li>
                            <li><a th:href="@{/product/showProduct/{type}(type=4)}">Sweets</a></li>
                            <li><a th:href="@{/product/showProduct/{type}(type=5)}">Stuff</a></li>

                        </ul>
                    </li>
                    <li><a class="section-scroll" th:href="@{/user/allpets}">Pets</a></li>

                    <li class="nav-item"><a class="nav-link" sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin/viewValidPostsPage}">Confirm Post</a></li>


                    <li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()"
                                            th:href="@{/profile}">Profile</a></li>

                    <li class="nav-item"><a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/new/login}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/registrationPage}">Sing Up</a></li>
                    <li class="nav-item"><a class="nav-link" sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin/userConfirm}">Confirm pets</a></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link"
                                                                              th:href="@{/logout}">Logout</a>
                    </li>




                    <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link"
                                                                              th:href="@{/cart/showMyCart}">Cart</a>
                    </li>

                    <li class="dropdown" sec:authorize="isAuthenticated()"><a class="dropdown-toggle" th:href="@{/user/showProducts}" data-toggle="dropdown">MyEgida</a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/egida/myPets}">MyPets</a></li>
                            <li><a th:href="@{/egida/}">MyShops</a></li>
                        </ul>
                    </li>
                    <li><a class="section-scroll" th:href="@{/forum/showForum}">News</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="home-section home-full-height bg-dark bg-gradient" id="home" data-background="/static/images/maindogscats.jpg" style=" max-height: 1000px;" >
        <div class="titan-caption">
            <div class="caption-content">
                <div class="font-alt mb-30 titan-title-size-1">Hello &amp; welcome</div>
                <div class="font-alt mb-40 titan-title-size-4">We are the future <br> of Animals</div><a class="section-scroll btn btn-border-w btn-round" href="#">Learn More</a>
            </div>
        </div>
    </section>
    <div class="main">
        <section class="module" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Our Services</h2>
                        <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
                    </div>
                </div>
                <div class="row multi-columns-row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-lightbulb"></span></div>
                            <h3 class="features-title font-alt">Ideas and concepts</h3>
                            <p>Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-bike"></span></div>
                            <h3 class="features-title font-alt">Optimised for speed</h3>
                            <p>Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-tools"></span></div>
                            <h3 class="features-title font-alt">Designs &amp; interfaces</h3>
                            <p>Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-gears"></span></div>
                            <h3 class="features-title font-alt">Highly customizable</h3>
                            <p>Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-tools-2"></span></div>
                            <h3 class="features-title font-alt">Coding &amp; development</h3>
                            <p>Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-genius"></span></div>
                            <h3 class="features-title font-alt">Features &amp; plugins</h3>
                            <p>Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-mobile"></span></div>
                            <h3 class="features-title font-alt">Responsive design</h3>
                            <p>Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-lifesaver"></span></div>
                            <h3 class="features-title font-alt">Dedicated support</h3>
                            <p>Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="module bg-dark-60" data-background="assets/images/section-6.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="video-box">
                            <div class="video-box-icon"><a class="video-pop-up" href="https://www.youtube.com/watch?v=-6tvprV0OWw"><span class="icon-video"></span></a></div>
                            <div class="video-title font-alt">WATCH FOR MORE</div>
                            <div class="video-subtitle font-alt">Watch the video about our community</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="features-item">
            <h2>You can change their live!</h2>
            <div style="display: grid; grid-template-columns: repeat(3,1fr); grid-template-rows: repeat(3,20px); margin: 30px 30px">
                <div th:each="pet : ${randomThree}" class="all-pets-list" style="padding-bottom: 150px;" >
                    <div th:unless="${pet.animal_status == 'TAKEN'}">
                        <img width="256" height="256" th:src="${pet.getImgURL()}" alt="photo conformation"
                             style="object-fit: cover; width: 256px; height: 240px;"/>
                        <br>
                        <a th:text="${pet.animalName}" th:href="@{/user/allpets}">Name: </a>
                        <span th:text="${pet.sex}">sex</span>
                        <br>

                    </div>
                </div>
            </div>

        </div>

<br>
<br>
<br>
        <section class="module" id="alt-features">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Our features</h2>
                        <div class="module-subtitle font-serif">A wonderful animal has taken possession of my entire soul, and you can change their life... FOREVER!</div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="divider-w">

        <section class="module bg-dark-60" data-background="assets/images/section-3.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Features</h2>
                        <div class="module-subtitle font-serif"></div>
                    </div>
                </div>
                <div class="row multi-columns-row">
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="count-item mb-sm-40">
                            <div class="count-icon"><span class="icon-wallet"></span></div>
                            <h3 class="count-to font-alt" data-countto="6543"></h3>
                            <h5 class="count-title font-serif">Dollars raised for charity</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="count-item mb-sm-40">
                            <div class="count-icon"><span class="icon-wine"></span></div>
                            <h3 class="count-to font-alt" data-countto="8"></h3>
                            <h5 class="count-title font-serif">Random glass of vine</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="count-item mb-sm-40">
                            <div class="count-icon"><span class="icon-camera"></span></div>
                            <h3 class="count-to font-alt" data-countto="184"></h3>
                            <h5 class="count-title font-serif">Photographs taken</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="count-item mb-sm-40">
                            <div class="count-icon"><span class="icon-map-pin"></span></div>
                            <h3 class="count-to font-alt" data-countto="32"></h3>
                            <h5 class="count-title font-serif">If you are not in belarus from sorry lol</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="assets/images/testimonial_bg.jpg">
            <div class="testimonials-slider pt-140 pb-140">
                <ul class="slides">
                    <li>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="module-icon"><span class="icon-quote"></span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <blockquote class="testimonial-text font-alt">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</blockquote>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <div class="testimonial-author">
                                        <div class="testimonial-caption font-alt">
                                            <div class="testimonial-title">Jack Woods</div>
                                            <div class="testimonial-descr">SomeCompany INC, CEO</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="module-icon"><span class="icon-quote"></span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <blockquote class="testimonial-text font-alt">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.</blockquote>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <div class="testimonial-author">
                                        <div class="testimonial-caption font-alt">
                                            <div class="testimonial-title">Jim Stone</div>
                                            <div class="testimonial-descr">SomeCompany INC, CEO</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="module-icon"><span class="icon-quote"></span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <blockquote class="testimonial-text font-alt">I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</blockquote>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <div class="testimonial-author">
                                        <div class="testimonial-caption font-alt">
                                            <div class="testimonial-title">Adele Snow</div>
                                            <div class="testimonial-descr">SomeCompany INC, CEO</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="module" id="news">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Latest blog posts</h2>
                        <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
                    </div>
                </div>
                <div class="row multi-columns-row post-columns">
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="post mb-20">
                            <div class="post-header font-alt">
                                <h2 class="post-title"><a href="#">Our trip to the Alps</a></h2>
                                <div class="post-meta">By&nbsp;<a href="#">Mark Stone</a>&nbsp;| 23 November | 3 Comments
                                </div>
                            </div>
                            <div class="post-entry">
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                            </div>
                            <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="post mb-20">
                            <div class="post-header font-alt">
                                <h2 class="post-title"><a href="#">Shore after the tide</a></h2>
                                <div class="post-meta">By&nbsp;<a href="#">Andy River</a>&nbsp;| 11 November | 4 Comments
                                </div>
                            </div>
                            <div class="post-entry">
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                            </div>
                            <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="post mb-20">
                            <div class="post-header font-alt">
                                <h2 class="post-title"><a href="#">We in Belarus</a></h2>
                                <div class="post-meta">By&nbsp;<a href="#">Dylan Woods</a>&nbsp;| 5 November | 15 Comments
                                </div>
                            </div>
                            <div class="post-entry">
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                            </div>
                            <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="module-small bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="widget">
                            <h5 class="widget-title font-alt">About Egida</h5>
                            <p>The languages only differ in their grammar, their pronunciation and their most common words.</p>
                            <p>Phone: +1 234 567 89 10</p>Fax: +1 234 567 89 10
                            <p>Email:<a href="#">TMSDaniilDudak@google.com</a></p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget">
                            <h5 class="widget-title font-alt">Recent Comments</h5>
                            <ul class="icon-list">
                                <li>Maria on <a href="#">Designer Desk Essentials</a></li>
                                <li>John on <a href="#">Realistic Business Card Mockup</a></li>
                                <li>Andy on <a href="#">Eco bag Mockup</a></li>
                                <li>Jack on <a href="#">Bottle Mockup</a></li>
                                <li>Mark on <a href="#">Our trip to the Alps</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget">
                            <h5 class="widget-title font-alt">Blog Categories</h5>
                            <ul class="icon-list">
                                <li><a href="#">Photography - 7</a></li>
                                <li><a href="#">Web Design - 3</a></li>
                                <li><a href="#">Illustration - 12</a></li>
                                <li><a href="#">Marketing - 1</a></li>
                                <li><a href="#">Wordpress - 16</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget">
                            <h5 class="widget-title font-alt">Popular Posts</h5>
                            <ul class="widget-posts">
                                <li class="clearfix">
                                    <div class="widget-posts-body">
                                        <div class="widget-posts-title"><a href="#">Designer Desk Essentials</a></div>
                                        <div class="widget-posts-meta">23 january</div>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="widget-posts-body">
                                        <div class="widget-posts-title"><a href="#">Realistic Business Card Mockup</a></div>
                                        <div class="widget-posts-meta">15 February</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider-d">
        <footer class="footer bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="copyright font-alt">&copy; 2022&nbsp;<a th:href="@{#}">Egida</a>, All Rights Reserved</p>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK2Axt8xiFYMBMDwwG1XzBQvEbYpzCvFU"></script>
</main>
<!--
JavaScripts
=============================================
-->
<script type="text/javascript" th:src="@{/styles/lib/jquery/dist/jquery.js}" src="/static/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/bootstrap/dist/js/bootstrap.min.js}" src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/wow/dist/wow.js}" src="/static/lib/wow/dist/wow.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js}" src="/static/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/isotope/dist/isotope.pkgd.js}" src="/static/lib/isotope/dist/isotope.pkgd.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/imagesloaded/imagesloaded.pkgd.js}" src="/static/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/flexslider/jquery.flexslider.js}" src="/static/lib/flexslider/jquery.flexslider.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/owl.carousel/dist/owl.carousel.min.js}" src="/static/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/smoothscroll.js}" src="/static/lib/smoothscroll.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/magnific-popup/dist/jquery.magnific-popup.js}" src="/static/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script type="text/javascript" th:src="@{/styles/lib/simple-text-rotator/jquery.simple-text-rotator.min.js}" src="/static/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK2Axt8xiFYMBMDwwG1XzBQvEbYpzCvFU"></script>
<script type="text/javascript" th:src="@{/styles/js/plugins.js}" src="/static/js/plugins.js"></script>
<script type="text/javascript" th:src="@{/styles/js/main.js}" src="/static/js/main.js"></script>
</body>
</html>